:root {
    --primary-color: #e3e3e2;
    --secondary-color: #fefefd;
    --text-color: #646464;
    --nav-color: #6173c4;
    --footer-color: #3f3f3e;
    --button-color: #238cf2;
}

.About-Us{
    margin-top: 20px;
    padding: 20px;
}
.About-Us h2{
    padding: 10px;
}
.About-Us p{
    font-size: 20px;
}

.About-Us .about_content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    text-align: center;
    margin: 20px;
}
.About-Us *p{
    margin-right: 50px;
}
.About-Us .about-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.About-Us li{
    margin-bottom: 10px;
}

