:root {
    --primary-color: #e3e3e2;
    --secondary-color: #fefefd;
    --text-color: #646464;
    --nav-color: #6173c4;
    --footer-color: #3f3f3e;
    --button-color: #238cf2;
}
/* Pricing main page */
.pricing{
    background-color: var(--text-color);
    margin-top: 10px;
}
.info h2{
    font-size: 30px;
    position: relative;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pricing_cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
#card{
    border: 2px solid var(--secondary-color);
    width: 20%;
    height: 320px;
    text-align: center;
    display: block;
    border-radius: 10px;
    margin: 30px 0;

}
#card *{
    margin-bottom: 40px;
}
#card p{
    font-size: 20px;
}
#card button{
    width: 70%;
    height: 20%;
    background-color: var(--button-color);
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 20px;
}


