*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #1F2544;
    --secondary-color: #474F7A;
    --button-color: #81689D;
    --light-color: #FFD0EC;
}
body{
    background-color: var(--light-color);
}
header{
    background-color: var(--primary-color);
    text-align: center;
    font-size: larger;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
}
/* header .pagetitle{
    font-size: x-large;
    color: white;
} */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}
header .user{
    margin-right: 20px;
}
header ul li{
    margin: 20px;
}
header ul li a{
    text-decoration: none;
    color: white;
}
header ul li a:hover{
    color: greenyellow;
}

/* Pricing main page */
main{
    margin-top: 100px;
    height: 90vh;
}
.info hr{
    height: 5px;
    background-color: var(--primary-color);
}
.info h2{
    font-size: 30px;
    position: relative;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pricing_cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
#card{
    border: 2px solid var(--secondary-color);
    width: 20%;
    height: 320px;
    text-align: center;
    display: block;
    border-radius: 10px;
    margin-top: 30px;
}
#card *{
    margin-bottom: 40px;
}
#card p{
    font-size: 20px;
}
#card button{
    width: 70%;
    height: 20%;
    background-color: var(--button-color);
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 20px;
}
#card:hover{
    border-right: var(--primary-color);
    border-bottom: var(--primary-color);
    transform: scale(1.1);
}

/* Footer */
footer{
    background-color: var(--primary-color);
}
.footercontent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}
.footercontent a{
    text-decoration: none;
    color: white;
}

.footercontent p{
    color: white;
}
.footercontent a,p,h2{
    margin-bottom: 10px;
    margin-left: 0;
}

.signup_login{
    margin-left: 10px;
}
.signup_login a{
    margin: 10px;
    text-decoration: none;
}
.signup_login button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--button-color);
    color: white;

}

