@import url(common.css);

.main-content .content-wrapper {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}
.main-content .content-wrapper .content-name {
  color: brown;
  padding: 10px 0;
  font-weight: bold;
  font-size: large;
}
.main-content .content-wrapper button {
  width: 100px;
  padding: 10px 0;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.main-content .content-wrapper .content-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px 0;
}
.main-content .content-wrapper .content-card {
  /* border: 2px solid black; */
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 10px;
}
.main-content .content-wrapper .content-card .content-card-title {
  padding: 5px 0;
}
.main-content .content-wrapper .content-card .content-card-count {
  padding: 5px 0;
  font-size: 30px;
  font-weight: bold;
}
.main-content .content-wrapper .content-card .content-card-details {
  padding: 5px 0;
}
.main-content .content-wrapper .content-card .content-card-details a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}
