@import url(common.css);

main .container .summary-cards {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
  height: fit-content;
  background-color: white;
}

main .container .content .summary-card {
  border: 2px solid rgb(66, 66, 66);
  padding: 10px;
  border-radius: 5px;
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .container .content .summary-card .summary-title {
  font-weight: bold;
}

main .container .content .summary-card .summary-count {
  font-size: 40px;
  font-weight: bold;
}

main .container .content .summary-card .summary-link a {
  color: rgb(89, 89, 248);
}
