@import url(../common.css);

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  padding: 0 10px;
  background-color: var(--secondary-color);
  color: white;
}

nav .logo {
  text-transform: capitalize;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
}
main .login-error {
  background-color: rgb(255, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
  width: 40%;
  margin-bottom: 10px;
  color: red;
}

main .login-container {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  box-shadow: 5px 5px 5px 5px rgb(114, 114, 114);
}

main .login-container .form-title {
  text-align: center;
  margin-bottom: 10px;
}

main .login-container .form-input {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

main .login-container .form-input span,
main .login-container .form-input input[type="email"],
main .login-container .form-input input[type="password"] {
  padding: 10px;
  font-size: 16px;
}

main .login-container .form-input span {
  background-color: var(--secondary-color);
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

main .login-container .form-input input[type="email"],
main .login-container .form-input input[type="password"] {
  border: none;
  flex: 1;
  background-color: var(--primary-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline-color: var(--secondary-color);
}

main .login-container .submission input[type="submit"] {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: white;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

main .login-container .submission input[type="submit"]:hover {
  background-color: transparent;
  color: var(--secondary-color);
  cursor: pointer;
}
