@import url(common.css);

.container .content .content-name {
  color: brown;
  padding: 10px 0;
  font-weight: bold;
  font-size: large;
}

.container .content button {
  width: 100px;
  padding: 10px 0;
  color: white;
  background-color: blue;
  border: 2px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

.container .content button:hover {
  background-color: transparent;
  color: blue;
}

.container .content .content-cards {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 30px;
}
.container .content .content-card {
  border: 2px solid rgb(66, 66, 66);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .content .content-card .content-card-title {
  font-weight: bold;
}
.container .content .content-card .content-card-count {
  font-weight: bold;
  font-size: 40px;
}

.container .content .content-card .content-card-details a {
  color: rgb(89, 89, 248);
}
