@import url(../common.css);

main .container .content-title {
  width: 100%;
  height: 6vh;
  padding: 10px;
  background-color: lightgrey;
}
main .container .content {
  width: 100%;
  height: 93%;
  padding: 20px 20px;
}
main .container .content-wrapper {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.entries-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.entries-search .entries select {
  padding: 5px;
}
.entries-search .search input {
  padding: 5px;
}

.search-table {
  padding: 20px 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.search-table th,
td {
  border: 2px solid rgb(196, 189, 189);
  padding: 10px 20px;
}

table td div {
  display: flex;
  gap: 10px;
}

table td button {
  padding: 7px 10px;
  width: 70px;
  background-color: blue;
  border: none;
  border-radius: 3px;
  color: white;
}
table tbody tr:nth-child(odd) {
  background-color: rgb(224, 219, 219);
}
.bottom-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: gray;
  padding: 20px 0;
}
.bottom-content .page-entries-nav button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.bottom-content .page-entries-nav button:nth-child(2) {
  background-color: blue;
  color: white;
}
